body,html{
    height: 100%;
    width: 100%;
    font-size: 100%;
}
h2{
    color: grey;
    font-size: 3em;
    text-align: center;
    width: 100%;
}
.img-slider{
    width: 100%;
    background-size: cover;
}

/***beneficios***/
#beneficios{
    padding: 5%;
    color: grey;
    text-align: center;
}
.log-item{
    display: inline-block;
    padding-top: 20%;
}
.log-text{
    font-size: 1.5em;
    padding-top: 4%;
}
/***testimonios***/
#testimonios{
    background-image: url("../images/bg-testimony.jpg");
    background-size: cover;
    height: 80vh;

}
/***footer***/
footer{
    padding: 2%;
}