body,html{
    height: 100%;
    width: 100%;
    font-size: 100%;
}
h1{
    color: grey;
    font-size: 3em;
    text-align: center;
    width: 100%;
}
.img-slider{
    width: 100%;
}
.nav-hero{
    display: inline-block;
    text-decoration: none;
    padding-left: 2%;
}
a{
    color: #fff;
}
a:hover{
    color: gray;
    text-decoration: none;
}
.carousel-caption{
    bottom: 16em;
}
.button-hero{
        background-color: #80EA52;
    padding: 1% 6%;
}
.text-hero{
    max-width: 817px;
    margin: auto;
    font-size: 3em;
    padding-top: 2em;
}
h2{
    font-size: 5em;
}
.directionales{
    position: absolute;
    top: 50%;
    left: 50%;
}
/***beneficios***/
#beneficios{
    padding: 5%;
    color: grey;
    text-align: center;
}
.logo-beneficio{
    display: inline-block;
    padding-top: 20%;
}
.log-text{
    font-size: 1.5em;
    padding-top: 4%;
}
.text-xs{
    font-size: 1.5em;
    background-color: #fff;
}
/***testimonios***/
#testimonios{
background-image: url("../images/bg-testimony.jpg");
    background-size: cover;
    padding: 3% 0;
}
.box-testimonies{
background-color: #fff;
    border-radius: 15px;
    padding: 2%;
    height: auto;
    width: 40%;
    margin: 14% 40%;
    box-shadow: -10px 11px 6px 2px rgba(130, 126, 126, 0.94);
}
.title-testim{
    background-color: #fff;
     position: absolute;
      padding: 1% 0;
      width: 100%;
}
/***footer***/
.footer-figures{
    padding: 3%;
}